
@{
    ViewBag.Title = "Public";
}
<div style="height:500px ; width:100% ; display:block">
    <div style="display:flex">
        <div style="height:195px ; width:140px ;border : solid 1px gray ; display:block ; margin: 10px ;">
            <div style="height:20px ; width100% ; display:flex ; align-items:center ; justify-content:center; border-bottom: solid 1px gray ; background-color:gray"> iPhone </div>
            <a href="@Url.Action("Details","Home", new {@id = 1 })">
                <img style="height:155px ; width:100%" src="~/Models/images/occuc.png" />
            </a>
            <div style="height:20px ; width100% ; display:flex ; align-items:center ;  border-top : solid 1px gray ; background-color: gray ">
                <div>1000$ </div>
                <div style="margin-left:60px">Apple</div>
            </div>
        </div>

        <div style="height:195px ; width:140px ;border : solid 1px gray ; display:block ; margin: 10px ;">
            <div style="height:20px ; width100% ; display:flex ; align-items:center ; justify-content:center; border-bottom: solid 1px gray ; background-color:gray"> Samsung </div>
            <a href="@Url.Action("Details","Home", new {@id = 2 })">
                <img style="height:155px ; width:100%" src="~/Models/images/ad.png" />
            </a>
            <div style="height:20px ; width100% ; display:flex ; align-items:center ;  border-top : solid 1px gray ; background-color: gray ">
                <div>1000$ </div>
                <div style="margin-left:39px">Samsung</div>
            </div>
        </div>
        <div style="height:195px ; width:140px ;border : solid 1px gray ; display:block ; margin: 10px ;">
            <div style="height:20px ; width100% ; display:flex ; align-items:center ; justify-content:center; border-bottom: solid 1px gray ; background-color:gray"> Samsung </div>
            <a href="@Url.Action("Details","Home", new {@id = 3 })">
                <img style="height:155px ; width:100%" src="~/Models/images/samsung.png" />
            </a>
            <div style="height:20px ; width100% ; display:flex ; align-items:center ;  border-top : solid 1px gray ; background-color: gray ">
                <div>1000$ </div>
                <div style="margin-left:39px">Samsung</div>
            </div>
        </div>

        <div style="height:195px ; width:140px ;border : solid 1px gray ; display:block ; margin: 10px ;">
            <div style="height:20px ; width100% ; display:flex ; align-items:center ; justify-content:center; border-bottom: solid 1px gray ; background-color:gray"> Sound </div>
            <a href="@Url.Action("Details","Home", new {@id = 4 })">
                <img style="height:155px ; width:100%" src="~/Models/images/bose.png" />
            </a>
            <div style="height:20px ; width100% ; display:flex ; align-items:center ;  border-top : solid 1px gray ; background-color: gray ">
                <div>1000$ </div>
                <div style="margin-left:60px">Bose</div>
            </div>
        </div>
    </div>
    <div style="display:flex">
        <div style="height:195px ; width:140px ;border : solid 1px gray ; display:block ; margin: 10px ;">
            <div style="height:20px ; width100% ; display:flex ; align-items:center ; justify-content:center; border-bottom: solid 1px gray ; background-color:gray"> Headphone </div>
            <a href="@Url.Action("Details","Home", new {@id = 5 })">
                <img style="height:155px ; width:100%" src="~/Models/images/beats.png" />
            </a>
            <div style="height:20px ; width100% ; display:flex ; align-items:center ;  border-top : solid 1px gray ; background-color: gray ">
                <div>1000$ </div>
                <div style="margin-left:60px">Apple</div>
            </div>
        </div>
        <div style="height:195px ; width:140px ;border : solid 1px gray ; display:block ; margin: 10px ;">
            <div style="height:20px ; width100% ; display:flex ; align-items:center ; justify-content:center; border-bottom: solid 1px gray ; background-color:gray"> Mac </div>
            <a href="@Url.Action("Details","Home", new {@id = 6 })">
                <img style="height:155px ; width:100%" src="~/Models/images/imac.png" />
            </a>
            <div style="height:20px ; width100% ; display:flex ; align-items:center ;  border-top : solid 1px gray ; background-color: gray ">
                <div>1000$ </div>
                <div style="margin-left:60px">Apple</div>
            </div>
        </div>
        <div style="height:195px ; width:140px ;border : solid 1px gray ; display:block ; margin: 10px ;">
            <div style="height:20px ; width100% ; display:flex ; align-items:center ; justify-content:center; border-bottom: solid 1px gray ; background-color:gray"> iPhone </div>
            <a href="@Url.Action("Details","Home", new {@id = 7 })">
                <img style="height:155px ; width:100%" src="~/Models/images/iPhone11.png" />
            </a>
            <div style="height:20px ; width100% ; display:flex ; align-items:center ;  border-top : solid 1px gray ; background-color: gray ">
                <div>1000$ </div>
                <div style="margin-left:60px">Apple</div>
            </div>
        </div>
        <div style="height:195px ; width:140px ;border : solid 1px gray ; display:block ; margin: 10px ;">
            <div style="height:20px ; width100% ; display:flex ; align-items:center ; justify-content:center; border-bottom: solid 1px gray ; background-color:gray"> Sony </div>
            <a href="@Url.Action("Details","Home", new {@id = 8 })">
                <img style="height:155px ; width:100%" src="~/Models/images/sony.png" />
            </a>
            <div style="height:20px ; width100% ; display:flex ; align-items:center ;  border-top : solid 1px gray ; background-color: gray ">
                <div>1000$ </div>
                <div style="margin-left:60px">Sony</div>
            </div>
        </div>
    </div>


</div>
